
.grid-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'mainn main'
        'sidebar main ';
    height: 100vh;
}
@media only screen and (max-width: 800px) {

    .grid-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 10px;
    }}