.dateanddate{
    font-size: small;
}
.projectlistStatus{
    color: #2379d5;
    font-weight: bold;
}

.Projectlisttablebox{
    border-radius: 5px;
    height: 80vh;
    color: black;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(26, 112, 211, 0.3);
    gap: 10px;
}
.ProjectlistMain-cards {
    margin-top: 30px;
    width: 100%;
    border-radius: 5px;
        height: 80vh;
        color: black;
        background-color: #ffffff;
        box-shadow: 0px 0px 5px rgba(26, 112, 211, 0.3);
        gap: 10px;
}