
/* .grid-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 0fr 2fr;
    grid-template-areas:
        'sidebar'
        'sidebar CreatprojectMain';
    height: 100vh;
} */

@media screen and (max-width: 800px) {
    .grid-container {
            grid-column: auto;
            grid-template-columns: 0 1fr;
        }
} 

